#viewDiv{
    width: 100%;
    height: 90vh;
}

#tableDiv{
    position: relative;
    height: 100vh;
}
 #matAcc{
    position: relative;
    margin-bottom:0px;
    height: 10vh;
 }
#sideNav{
    position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
  